<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>landing_page</title>


</head>
<body>

  <div class="button-container">
    <div class="insta">
      <img src="insta.jpeg" alt="Image 1"  width="300" height="200">
      <button>
        INSTAGRAM
      </button>
    </div>
    <div class="twitter">
      <img src="/twitter.jpeg" alt="Image 2"  width="300" height="200">
      <button>
        TWITTER
      </button>
    </div>
    <div >
      <img src="fb.jpeg" alt="Image 3" width="300" height="200">
      <button>
        FACEBOOK
      </button>
    </div>
    <div class="others">
      <img src="others.jpeg" alt="Image 4">
      <button onclick="generateHTML('newhtml.html')">
        OTHERS
      </button>
    </div>

  </div>

    <script>
      function generateHTML(pageName)
      {
      // You can use window.location to redirect to the new page
        window.location.href = pageName;
      }
    </script>

</body>
</html>