<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>landing_page</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      *{
        box-sizing: border-box;
        background-color: #71b7e6;
      }
      .image
      {
        float: left;
        width:25%;
        padding:5px;

      }
      .image #pic{
        width: 100%;
        height:150px;
      }
      .clearfix::after
      {
        content:"";
        clear: both;
        display: table;
      }
      .b
      {
        position: relative;
        left:70px;
      }

    </style>

</head>
<body>

  
    <div class="image">
      <img id="pic" src="insta.jpeg" alt="Image 1" >
      <button class="b">
        INSTAGRAM
      </button>
    </div>
    <div class="image" >
      <img id="pic" src="/twitter.jpeg" alt="Image 2" >
      <button class="b">
        TWITTER
      </button>
    </div>
    <div class="image">
      <img id="pic" src="fb.jpeg" alt="Image 3">
      <button class="b">
        FACEBOOK
      </button>
    </div>
    <div class="image">
      <img id="pic" src="others.jpeg" alt="Image 4" >
      <button class="b" onclick="generateHTML('newhtml.html')">
        OTHERS
      </button>
    </div>

 

    <script>
      function generateHTML(pageName)
      {
      // You can use window.location to redirect to the new page
        window.location.href = pageName;
      }
    </script>

</body>
</html>
